.tech-logo {
  width: 102px;
  height: 102px;
}

#kulafoto {
  width: 500px;
  height: 500px;
}
.about__box {
  width: 100px;
  height: 100px;
  background: yellowgreen;
  padding: 10px;
  border: 10px solid red;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: 50%;
  position: sticky;
}
h2 {
  color: #1460aa;

}

.header__navigation{
  background: yellowgreen;
  top: 20px;
  position: sticky;
}
#main-index{
  background-color: lightgray;
  max-width: 1000px;
  padding: 0px 10px;
  border-radius: 2%;
  box-sizing: border-box;
  margin: auto;
}

#main-index h3 {
  color: green;
}

.html {
  color: orangered;
}

.html-markup {
  color: orange;
  font-weight: bold;
}

.html-attribute {
  color: darkmagenta;
  font-weight: bold;
}

.html-text {
  color: green;
  font-weight: bold;
}

.css {
  color: blue;
}

.js {
  background: #ebcd22;
  color: black;
}
.js-learning span {
  background-color: lightgray;
}
.js-function {
  color: yellow;
}

.js-var {
  color: rgb(11, 185, 243);
}

.js-txt {
  color: orangered;
}

.js-number {
  color: green;
}

.very-important {
  color: red;
  font-weight: bold;
}

.page-footer {
  font-size: smaller;
}
