.image__tech-logo {
  width: 102px;
  height: 102px;
}

#image__kulafoto {
  width: 200px;
  height: 200px;
  float: right;
}

#diary{
  overflow: hidden;
}

.page__header--h2 {
  color: #1460aa;

}

.header__navigation{
  background: yellowgreen;
  top: 20px;
  position: sticky;
  padding: 10px;
  border-radius: 5px;
}
#main-index{
  background-color: lightgray;
  max-width: 1000px;
  padding: 0px 10px;
  border-radius: 2%;
  box-sizing: border-box;
  margin: auto;
}

.main-index__header--h3 {
  color: green;
}



.html {
  color: orangered;
}

.html__markup {
  color: orange;
  font-weight: bold;
}

.html__attribute {
  color: darkmagenta;
  font-weight: bold;
}

.html__text {
  color: green;
  font-weight: bold;
}

.css {
  color: blue;
}

.js {
  background: #ebcd22;
  color: black;
}
.js__learning span {
  background-color: lightgray;
}
.js__function {
  color: yellow;
}

.js__var {
  color: rgb(11, 185, 243);
}

.js__txt {
  color: orangered;
}

.js__number {
  color: green;
}

.very-important {
  color: red;
  font-weight: bold;
}

.page__footer {
  font-size: smaller;
}

.page__empty-block{
  display: inline;
   min-width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border:  solid red;
    box-sizing: border-box;
   
}